<div class="home row w-100 d-flex justify-content-center align-items-center">
  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title text-info my-4">You're almost ready to start!</h3>
        <blockquote class="blockquote mb-0">
          This is the home page of the quiz test application, realized with
          <a class="btn-flat" href="https://angular.io/" target="_blank">Angular</a> and
          <a class="btn-flat" href="https://angular.io/" target="_blank">Express</a>
         and deployed on <a class="btn-flat" href="https://angular.io/" target="_blank">Heroku</a>.
          <br>
          You can find the GitHub application repositories at
          <a class="btn-flat" href="https://github.com/fathallahhassen/quiz-front-angular" target="_blank">Frontend, </a>
          <a class="btn-flat" href="https://github.com/fathallahhassen/quiz-backend-nodejs" target="_blank">Backend</a>.
        </blockquote>
        <p class="text-center mt-3">
          <a href="/quiz" class="btn btn-info">Start Quiz</a>
          <a href="/login" class="btn btn-info ml-4">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
