<div class="home row w-100 d-flex justify-content-center align-items-center">
  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body text-center">
        <h3 class="card-title text-info my-4">You're almost ready to start!</h3>
        <blockquote class="blockquote mb-0">
          This is a countries capitals quiz, realized with <a class="btn-flat" href="https://angular.io/" target="_blank">Angular</a>
          using data from the <a class="btn-flat" href="https://developer.spotify.com/web-api/" target="_blank">Spotify
          API</a>,
          developed with <span class="text-danger"> &hearts; </span>   <a
          class="btn-flat" href="https://github.com/fathallahhassen/quiz-front-angular" target="_blank">GitHub</a>.
        </blockquote>
        <p class="text-center mt-3">
          <a (click)="startQuiz()" class="btn btn-info">Start Quiz</a>
        </p>
      </div>
    </div>
  </div>
</div>
