.card {
  transition: height 2s ease-out;
  webkit-transition: height 2s ease-out;
  border-radius: 8px;
  &__collection {
    list-style-type: none;
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;

    &__item {
      list-style-type: none;
    }
  }
}

ul, li {

}
