/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Roboto-Fix", sans-serif !important;
}

body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif !important;
  background: #aed3e9 !important;
}
